{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Sobre Nós</h1>
                    <p class="lead fw-normal text-white-50 mb-0">iTech: Seu Portal para a Excelência em Tecnologia!</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p>
                            <br><br>
                            <h3>Bem-vindo à Loja de Eletrônicos iTech!</h3>
                            <br>
                            Na iTech, acreditamos que a tecnologia deve aprimorar e simplificar sua vida. Por isso, selecionamos cuidadosamente uma variedade de produtos eletrônicos de ponta para atender todas as suas necessidades, desde os smartphones e tablets mais recentes até laptops de alto desempenho e sistemas de entretenimento doméstico.
                            <br/><br/>
                            Com paixão pela inovação e compromisso com a qualidade, buscamos oferecer o melhor em dispositivos eletrônicos e acessórios. Nossa equipe de especialistas seleciona meticulosamente cada produto para garantir que atenda aos nossos altos padrões de desempenho, durabilidade e confiabilidade.
                            <br/><br/>
                            Mas a iTech é mais do que apenas uma loja - somos seu parceiro confiável no mundo da tecnologia. Nossa equipe de atendimento ao cliente simpática e experiente está aqui para ajudá-lo em todas as etapas do processo, seja dando conselhos sobre a escolha do produto certo ou oferecendo suporte técnico após a compra.
                            <br/><br/>
                            Também acreditamos em tornar a tecnologia acessível a todos, por isso oferecemos preços competitivos e promoções regulares para ajudá-lo a obter o máximo valor de sua experiência de compra.
                            <br><br/>
                            Obrigado por escolher a iTech como seu destino para tudo relacionado à eletrônica. Estamos ansiosos para atendê-lo e superar suas expectativas.
                            <br><br/>
                            Bem-vindo ao futuro da tecnologia. Bem-vindo à iTech.
                            <br><br>
                        </p>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}