{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Grupo Itech Projeto FDS</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida porta diam sit amet venenatis. Pellentesque vel sagittis augue, nec imperdiet risus. Fusce elit nunc, aliquet posuere placerat sed, finibus non lacus. Duis ac elit non nisi ullamcorper pellentesque. Pellentesque fringilla dui ut erat consequat dignissim. Aenean at magna porttitor, suscipit odio vel, maximus tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan tellus eros, in ullamcorper quam lacinia ac. In hac habitasse platea dictumst. Duis aliquet ligula est, a volutpat enim malesuada eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla sed metus in lorem auctor cursus. Mauris felis metus, sagittis facilisis dui id, feugiat auctor nisl. Pellentesque eu nibh varius, tempor arcu eu, porta massa. Donec et turpis facilisis, sollicitudin sapien vitae, porttitor libero.
                            <br/><br/>
                            Etiam vestibulum velit libero, at ullamcorper quam blandit et. Donec vel est et eros imperdiet gravida laoreet et lectus. Vivamus nisi turpis, sollicitudin a mollis non, condimentum nec lacus. Sed hendrerit, mauris lacinia venenatis eleifend, orci orci tempor ligula, sed facilisis felis sem in orci. Suspendisse hendrerit nec libero pretium rhoncus. Duis dictum malesuada nisi, et efficitur massa semper eget. Aliquam erat volutpat. Aliquam euismod sapien at ligula iaculis, sit amet scelerisque dui fermentum. Curabitur in ligula viverra, elementum arcu sodales, hendrerit purus. Nam at sollicitudin urna. Donec id dapibus ex. Phasellus ut mi mauris. Vivamus porttitor, orci ac congue rutrum, purus tellus hendrerit quam, ut rhoncus felis nisi id risus. Suspendisse non nisl vitae magna dictum consequat.
                            <br/><br/>
                            Fusce lobortis sapien nec quam accumsan, vitae accumsan felis tempor. Maecenas eget augue tincidunt, laoreet libero vitae, dignissim nibh. Vivamus mollis sollicitudin mi, ut elementum leo porttitor in. Curabitur convallis, nunc tempus vulputate semper, urna elit porta turpis, sit amet porta justo purus eget ipsum. Nam sed erat accumsan, vulputate lectus a, lobortis augue. Nulla iaculis velit sit amet orci mollis tincidunt. Cras sed felis bibendum, porta ex et, placerat purus.
                        </p>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}