{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Registre</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Registre sua conta</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <form method="POST" action="{% url 'register' %}">
                            {% csrf_token %}
                            <br/><br/>
                            <br/><br/>
                            {{ form.as_p }}
                            <br/><br/>
                            <button type="submit" class="btn btn-secondary">
                                Enviar
                            </button>
                          </form>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}