{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Informações de Pagamento</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Preencha os campos a seguir para realizar sua compra</p>
                </div>
            </div>
        </header>
        
        <br><br>

        <div class="container">

        <div id="confirmationMessage" class="alert alert-success" style="display: none;" role="alert">
            Obrigado pela sua compra, estamos avaliando o pedido!
        </div>

      {% if user.is_authenticated %}
        {% if cart_products %}

        <div class="container">
            <div class="row">
        
                    <div class="col-md-6 offset-md-3">
        
                        <br/><br/>


                        <form class="row g-3">
                          <div class="col-12">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail">
                          </div>
                          <div class="mb-3">
                            <label for="cpf" class="form-label">CPF:</label>
                            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
                        </div>
                          <div class="col-12">
                            <label for="inputAddress" class="form-label">Endereço</label>
                            <input type="text" class="form-control" id="inputAddress">
                          </div>
                          <div class="col-12">
                            <label for="inputAddress2" class="form-label">Nome Completo</label>
                            <input type="text" class="form-control" id="inputAddress2">
                          </div>
                          <div class="col-md-6">
                            <label for="inputCity" class="form-label">Cidade</label>
                            <input type="text" class="form-control" id="inputCity">
                          </div>
                          <div class="col-md-4">
                            <label for="inputState" class="form-label">Estado</label>
                            <select id="inputState" class="form-select">
                              <option selected>--</option>
                              <option>Acre</option>
                              <option>Alagoas</option>
                              <option>Amapá</option>
                              <option>Amazonas</option>
                              <option>Bahia</option>
                              <option>Ceará</option>
                              <option>Distrito Federal</option>
                              <option>Espirito Santo</option>
                              <option>Goiás</option>
                              <option>Maranhão</option>
                              <option>Mato Grosso</option>
                              <option>Mato Grosso do SUl</option>
                              <option>Minas Gerais</option>
                              <option>Pará</option>
                              <option>Paraíba</option>
                              <option>Paraná</option>
                              <option>Pernambuco</option>
                              <option>Piauí</option>
                              <option>Rio de Janeiro</option>
                              <option>Rio Grande do Norte</option>
                              <option>Rio Grande do Sul</option>
                              <option>Rondônia</option>
                              <option>Roraima</option>
                              <option>Santa Catarina</option>
                              <option>São Paulo</option>
                              <option>Sergipe</option>
                              <option>Tocantins</option>

                            </select>
                          </div>
                          <div class="col-md-2">
                            <label for="inputZip" class="form-label">CEP</label>
                            <input type="text" class="form-control" id="inputZip">
                          </div>  
                          <div class="mb-3">
                            <label for="dob" class="form-label">Data de Nascimento:</label>
                            <input type="date" class="form-control" id="dob" name="dob" required>
                        </div>
                        <div class="mb-3">
                          <label for="phone" class="form-label">Número de Telefone:</label>
                          <input type="tel" class="form-control" id="phone" name="phone" placeholder="(00) 00000-0000" pattern="\(\d{2}\) \d{5}-\d{4}" required>
                      </div>
                        </form>

                        <form method="post" action="{% url 'buy' %}">
        
                          <br><br><br>

                          <div class="mb-3">
                              <label for="creditCardNumber" class="form-label">Número do Cartão de Crédito:</label>
                              <input type="text" class="form-control" id="creditCardNumber" name="creditCardNumber" placeholder="0000 0000 0000 0000" pattern="\d{4} \d{4} \d{4} \d{4}" required>
                          </div>

                          <div class="col-12">
                            <label for="inputAddress2" class="form-label">Nome Completo</label>
                            <input type="text" class="form-control" id="inputAddress2">
                          </div>

                          <div class="mb-3">
                            <label for="cpf" class="form-label">CPF:</label>
                            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="000.000.000-00" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" required>
                          </div>

                            <div class="mb-3">
                                <label for="expiryMonth" class="form-label">Mês de Validade:</label>
                                <select class="form-select" id="expiryMonth" name="expiryMonth" required>
                                    <option value="" selected disabled>Escolha...</option>
                                    <option value="01">01 - Janeiro</option>
                                    <option value="02">02 - Fevereiro</option>
                                    <option value="03">03 - Março</option>
                                    <option value="04">04 - Abril</option>
                                    <option value="05">05 - Maio</option>
                                    <option value="06">06 - Junho</option>
                                    <option value="07">07 - Julho</option>
                                    <option value="08">08 - Agosto</option>
                                    <option value="09">09 - Setembro</option>
                                    <option value="10">10 - Outubro</option>
                                    <option value="11">11 - Novembro</option>
                                    <option value="12">12 - Dezembro</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="expiryYear" class="form-label">Ano de Validade:</label>
                                <select class="form-select" id="expiryYear" name="expiryYear" required>
                                    <option value="" selected disabled>Escolha...</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                </select>
                            </div>

                          <div class="mb-3">
                            <label for="cvv" class="form-label">CVV:</label>
                            <input type="text" class="form-control" id="cvv" name="cvv" pattern="\d{3,4}" required>
                          </div>

                            <br>
                            <center><h5 id="total">Total: R${{ totals }}</h3></center>
                            <br>

                            <center>
                            <button type ="button" data-index="{{cart_products}}" class="btn btn-secondary" id="comprar">Finalizar Pedido</button>
                          </center>

                                <br><br><br>

                        </form>
                </div>
                <br/><br/>
                    
            </div>
        </div>

        
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in cart_products %}

            <div class="col">
              <div class="card h-100">
           
                <img src="{{product.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <center><h4 class="card-title">{{product.name}}</h4></center>
                  {% if product_is.sale %}
                  <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                    <div class="bi-star-fill"></div>
                    </div>
                    <!-- Product price-->
                    <strike>
                        <center>R${{ product.price }}</center>
                    </strike>
                    <center><h5 class="card-title">R${{ product.sale_price }}</h5></center>

                {% else %}
                    <center><h5 class="card-title">R${{ product.price }}</h5></center>
                {% endif %}
                  <br>
                  <center><button type ="button" data-index="{{product.id}}"
                  class="btn btn-danger delete-product" id="remova">Remover</button></center>
                  <br>
                </div>
              </div>
            </div>

        {% endfor %}
        </div>

            <br>

            <br/><br/><br/>
            {% else %}
            <h5>Seu carrinho está vazio...</h5>
            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
            {% endif %}
        </div>


        <script>
          $(document).on('click', '.update-cart', function(e){
              e.preventDefault();
              var productid = $(this).data('index');
          
              $.ajax({
              type: 'POST',
              url: '{% url "cart_update" %}',
              data: {
                product_id: $(this).data('index'),
                product_qty: $('#select' + productid + ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
              },
              success: function(json){
                  location.reload();
              },
          
              error: function(xhr, errmsg, err){
          
              }
          
          
              });
          
          })

          $(document).on('click', '.delete-product', function(e){
              e.preventDefault();
          
              $.ajax({
              type: 'POST',
              url: '{% url "cart_delete" %}',
              data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',  
                action: 'post'
              },
              success: function(json){
                  location.reload();
              },
          
              error: function(xhr, errmsg, err){
          
              }
          
          
              });
          
          })
</script>
<script>
  document.getElementById('comprar').addEventListener('click', function() {
      window.location.href = '{% url "buy_done" %}';
      {% if user.is_authenticated %}
      $.ajax({
          type: 'POST',
          url: '{% url "buy_done" %}',
          data: {
              csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function(response) {
          },
          error: function(xhr, errmsg, err) {
              console.error(xhr.status + ": " + xhr.responseText);
          }
      });
      {% endif %}
  });
</script>

{% else %}
<h5>Realize o Login para acessar esta página...</h5>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
{% endif %}
{% endblock %}