{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Carrinho de compras</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Veja seu carrinho</p>
                </div>
            </div>
        </header>
        <br>
        <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}

            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                    <center>
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text">{{product.description}}</p>

                      {% if product_is.sale %}
                      <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                        <div class="bi-star-fill"></div>
                    </div>
                    <!-- Product price-->
                    <strike>
                        R${{ product.price }}
                    </strike>
                    R${{ product.sale_price }}

                  {% else %}
                      R${{ product.price }}
                  {% endif %}
                    <br></br>
                    <div class="row justify-content-center">
                        <div class="col-md-2">Quantidade:</div>
                        <div class="col-md-2">
                          <select class="form-select form-select-sm" 
                          id="select {{product.id}}">
                            <option selected>
                                {% for key, value in quantities.items %}
                                    {% if key == product.id|slugify %}
                                        {{value}}
                                    {% endif %}
                                {% endfor %}
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div>
                      <br></br>
                      <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
                      <button type ="botão" data-index="{{product.id}}"
                      class="btn btn-primary update-cart">Update</button>

                    </center>
                    </div>
                  </div>
                </div>
              </div><br/>

            {% endfor %}
            {% else %}
            Seu carrinho está vazio...
            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
            {% endif %}
        </div>


<script>
  // Check if button pressed
  $(document).on('click', '.update-cart', function(e){
            e.preventDefault();
            // grab the product id
            var productid= $(this).data('index');

            $.ajax({
                type: 'POST',
                url: "{% url 'cart_update' %}",
                data: {
            product_id: $(this).data('index'),
            product_qty: $('#select'+ productid+'option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
                },
        
                success: function(json){
                    //console.log(json)
                    //document.getElementById("cart_quantity").textContent = json.qty
                    location.reload();
                },
        
                error: function(xhr, errmsg, err){
        
                }
        
        
            });
        
        
        
        })
</script>
{% endblock %}