{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Contato</h1>
                <p class="lead fw-normal text-white-50 mb-0">Fale conosco!</p>
            </div>
        </div>
    </header>

    <br><br><br><br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div id="message" style="display: none;">
                    <p class="text-success">Mensagem enviada com sucesso!</p>
                </div>
                <form method="post" action="{% url 'contact_summary' %}" id="contactForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="nome" placeholder="Nome">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" name="assunto" rows="6" placeholder="Assunto"></textarea>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <br><br><br><br>
    
    <script>
        document.getElementById("contactForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent form submission
            var messageDiv = document.getElementById("message");
            messageDiv.style.display = "block"; // Display the message
            setTimeout(function() {
                messageDiv.style.display = "none"; // Hide the message after 2 seconds
            }, 2000);
            this.submit(); // Submit the form after showing the message
        });
    </script>
{% endblock %}

