{% extends 'base.html' %}
{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Login</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Entre em sua conta</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <br/><br/>
                                <br/><br/>
                              <input type="text" class="form-control" name="username" placeholder="Digite seu usuario">
                            </div>
                            <div class="mb-3">
                              <input type="password" class="form-control" name="password" placeholder="Digite sua senha">
                            </div>
                            <br/><br/>
                            <br/><br/>
                            <button type="submit" class="btn btn-secondary">Login</button>
                          </form>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}