  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">iTech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{%url 'home'%}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" name="procurar" aria-current="page" href="{%url 'search'%}">Procurar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Sobre</a></li>

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <li class="nav-item"><a class="nav-link" href="{% url 'update_info' %}">Perfil</a></li>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'favoritos_summary' %}">Favoritos</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Registrar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'favoritos_summary' %}">Favoritos</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" name="all" href="{%url 'category_summary'%}">Todos os produtos</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" name="notebooks" href="{%url 'category' 'Notebooks'%}">Notebooks</a></li>
                        <li><a class="dropdown-item" name="celulares" href="{%url 'category' 'Celulares'%}">Celulares</a></li>
                        <li><a class="dropdown-item" name="tablets" href="{%url 'category' 'Tablets'%}">Tablets</a></li>
                        <li><a class="dropdown-item" name="smartwatchs" href="{%url 'category' 'Smartwatchs'%}">Smartwatchs</a></li>
                        <li><a class="dropdown-item" name="fones" href="{%url 'category' 'Fones de ouvido'%}">Fones de ouvido</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contato</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{%url 'contact_summary'%}">Entre em contato</a></li>
                        <li><a class="dropdown-item" href="{%url 'complaints'%}">Suas reclamações</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'contact_summary'%}" role="button">Contato</a>
                </li>
                {% endif %}

            </ul>
            <form class="d-flex">
                <a href ="{% url 'cart_summary' %}" name="carrinho" class="btn btn-outline-dark"><i class="bi-cart-fill me-1"></i>
                    Carrinho
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span></a>
            </form>
        </div>
    </div>
</nav>