{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Atualizar informações</h1>
            <p class="lead fw-normal text-white-50 mb-0">Atualizar informações do Usuário...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form method="post" action="{% url 'update_info' %}">
                {% csrf_token %}
                <br>
                <h5>Informações do Usuário: {{user.username}}</h5>
                <br>

                <input type="number" id="Numero" class="form-control" placeholder="Número" name="Numero" value="{{ user.profile.Numero }}" max="99999999999"><br>

                <input type="text" id="Endereco1" class="form-control" placeholder="Endereço Principal" name="Endereço1" value="{{ user.profile.Endereco1 }}"><br>

                <input type="text" id="Endereco2" class="form-control" placeholder="Endereço Secundário" name="Endereço2" value="{{ user.profile.Endereco2 }}"><br>

                <input type="text" id="Cidade" class="form-control" placeholder="Cidade" name="Cidade" value="{{ user.profile.Cidade }}"><br>

                <input type="text" id="Estado" class="form-control" placeholder="Estado" name="Estado" value="{{ user.profile.Estado }}"><br>

                <input type="number" id="CEP" class="form-control" placeholder="CEP" name="CEP" value="{{ user.profile.CEP }}" max="99999999"><br>

                <input type="text" id="Pais" class="form-control" name="País" placeholder="País" value="{{ user.profile.Pais }}"><br>

                <button type="submit" class="btn btn-secondary" name="atualizar">Atualizar Perfil</button>
                <br><br>
            </form>
        </div>
    </div>
</div>

{% endblock %}
