{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Atualizar informações</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Atualizar informações do Usuário...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		
        			<div class="col-md-6 offset-md-3">

        				<br/><br/>
                        <form method="post" action="{% url 'update_info' %}">
                            {% csrf_token %}
                            <label for="Numero">Número:</label>
                            <input type="text" id="Numero" name="Numero" value="{{ user.profile.Numero }}"><br>
                        
                            <label for="Endereço1">Endereço 1:</label>
                            <input type="text" id="Endereço1" name="Endereço1" value="{{ user.profile.Endereço1 }}"><br>
                        
                            <label for="Endereço2">Endereço 2:</label>
                            <input type="text" id="Endereço2" name="Endereço2" value="{{ user.profile.Endereço2 }}"><br>
                        
                            <label for="Cidade">Cidade:</label>
                            <input type="text" id="Cidade" name="Cidade" value="{{ user.profile.Cidade }}"><br>
                        
                            <label for="Estado">Estado:</label>
                            <input type="text" id="Estado" name="Estado" value="{{ user.profile.Estado }}"><br>
                        
                            <label for="CEP">CEP:</label>
                            <input type="text" id="CEP" name="CEP" value="{{ user.profile.CEP }}"><br>
                        
                            <label for="País">País:</label>
                            <input type="text" id="País" name="País" value="{{ user.profile.País }}"><br>
                        
                            <button type="submit">Atualizar Perfil</button>
                        </form>

<br/><br/>

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
        			</div>
        		
        	</div>
        </div>

{% endblock %}