.form-base {
    margin-left: 300px;
    margin-right: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-top: 20px;
}
.navbar-bg-body-tertiary{
    background-color: rgb(13, 41, 73);
    padding: 20px 0;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body{
 background-color: rgb(255, 255, 255);
 color: black;
}

.btn-success {
    background-color: rgb(13, 41, 73); 
    color: white; 
    margin-top: 10px;
}

.text-center{
    color: rgb(13, 41, 73);
    margin-top: 35px;
    margin-bottom: 45px;
}
.alert {
    font-size: 18px; 
    text-align: center; 
    margin: 0 auto; 
    max-width: 500px; 
}